.Arrow {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #eee;
}

.Arrow:disabled {
    background-color: lightgrey;
}

.Arrow:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 30px;
    transition-duration: .1s; 
}