.FreshIdeas {
    
    .List {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .Title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }

}