.Idea {
    border: 1px solid black;
    width: 135px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    border-radius: 10px;
    padding: 25px;
}

.Idea__active {

    height: 80px;

    .Text {
        height: 75%;
    }

    .Category {
        border-top: 2px solid rgba(100, 99, 99, 0.616);
        font-family: cursive;
        padding-top: 10px;
        height: 25%;
    }

}

.Idea__inactive {
    height: 50px;
}

.Idea:hover {
    cursor: pointer;
}