.Table {
    padding-bottom: 40px;

    .Title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }

    table {
        margin: 0 auto;
        width: 900px;
        border-collapse: collapse;
    
        td, th {
            background: #eee;
            text-align: center;
            padding: 10px;
            border: 1px solid black;
        }

        th {
            background-color: rgb(245, 226, 150);
        }
    
    }
}
