@import "./normalize.css";

$dark: #212121;
$light: #F9F6F1;

.Layout {
    background: white;
    color: $dark;
    font-family: 'Roboto', sans-serif;  
    width: 1000px;
    margin: 0px auto;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
  
  